body {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.header {
    background-color: #1F2937;
    padding: 20px 200px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu-left {
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
    margin: 15px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}


.introduction {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 100px;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-img {
    height: 300px;
    width: 650px;
    flex-shrink: 0;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.intro-left {
    display: flex;
    flex-direction: column;
}

button {
    width: 100px;
    height: 30px;
    background: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    border-radius: 10px;
    border-color: #3882F6;
}

.hero-main, .hero-secondary {
    padding-bottom: 20px;
}

.info-images {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.info-body {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: space-between;
}

.info-header {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
    margin-top: 40px;
}

.information {
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
}

.info {
    width: 350px;
}

.text {
    color: rgb(80, 57, 1);
    font-size: 18px;
}

.inspiration {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1F2937;
    align-items: center;
    padding: 100px 436px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    padding-bottom: 10px;
}

.signature {
    font-weight: bold;
    align-self: flex-end;
    font-size: 24px;
}

.call-to-action {
    display: flex;
    background-color: #3882F6;
    margin: 80px 400px;
    padding: 40px 100px;
    justify-content: space-between;
    border-radius: 10px;
    color: #F9FAF8;
}

.action-top {
    font-size: 24px;
    font-weight: bold;
}

.action-bottom {
    font-size: 18px;
}

.bottom-button {
    border-color: #F9FAF8;
    border-width: medium;
    align-self: center;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    color: #F9FAF8;
    padding-top: 40px;
    padding-bottom: 40px;
}